@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css?family=New+Amsterdam");

body {
    margin: 0;
    font-family: "New Amsterdam";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
